<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    
    <title>Add New Blog</title>
</head>
<body>
 <%- include('./partials/nav.ejs') %> 
 <div class="container mt-4">
  <form action="/blog/add-new" method="POST" enctype="multipart/form-data">
    
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        aria-describedby="titleHelp"
        required
      />
    </div>

    <div class="mb-3">
      <label for="body" class="form-label">Body</label>
      <textarea
        class="form-control"
        id="body"
        name="body"
        rows="8"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="coverImage" class="form-label">Cover Image</label>
      <input
        type="file"
        class="form-control"
        id="coverImage"
        name="coverImage"
        aria-describedby="coverImageHelp"
      />
      <div id="coverImageHelp" class="form-text">
        Upload an image that represents your blog post.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
   <%- include('./partials/script.js') %>
</body>
</html>